body {
  border-left: 30px solid rgba(0, 119, 179, 0.4);
  border-right: 30px solid rgba(0, 119, 179, 0.4);
  border-bottom: 10px solid rgba(0, 119, 179, 0.4);
}

img {
  display: inline;
  width: 60px;
  height: 60px;
}
h2 {
  font-size: 40px;
  margin-right: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
}

h3 {
  text-align: center;
}

#back {
  color: white;
  text-shadow: 2px 2px black;
}

#first {
  background-image: url(http://www.powerpointhintergrund.com/uploads/computer-codes-technology-background-15.jpg);
}

#resultOutput {
  display: none;
  margin-top: 40px;
}

#end {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#welcome {
  font-size: 20px;
}

#radios {
  margin-top: 7px;
}

.jumbotron {
  border: solid 4px rgba(66, 139, 202, 0.7);

}

.btn {
  display: block;
}

.drop1 {
  margin-top: 8px;
  margin-bottom: 67px;
}

.drop2 {
  margin-bottom: 50px;
}

.Title {
  font-size: 15px;
  font-weight: bold;
}

.well {
  margin-top: 20px;
  margin-bottom: 30px;
}
